.btns, .head, .cont {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*, *:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
}

body {
  font-family: Tahoma;
  overflow: auto;
  background-color: #ffffff;
}

#ct {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

#ct .head td {
  color: White;
  text-align: center;
  padding: 10px;
  font-size: 15pt;
}

#ct .stats>td {
  padding: 10px;
  text-align: left;
}

#ct .btns td {
  color: White;
  text-align: center;
  padding: 10px;
}

#ct .btnsOpt td {
  color: White;
  text-align: center;
  padding: 10px;
  text-align: center;
}

.bt {
  display: block;
  padding: 7px;
  color: #808080;
  border: 3px solid #808080;
  cursor: pointer;
}

#gt {
  background-color: White;
  border: 1px solid #808080;
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  margin: 10px;
}

#selectLevel {
  width: 100%;
  text-align: center;
  font-size: 13pt;
  padding: 4px;
  text-align: center !important;
  border: 3px solid #808080;
  color: #808080;
  margin-top: 10px;
  border-radius: 0;
}

#gt td {
  text-align: center;
  vertical-align: middle;
  border: 3px solid #808080;
  color: #224106;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#gt td:hover {
  background-color: #F9F9F9;
}

#gt td.selected {
  background-color: #DDD;
}

#gt td.closed {
  background-color: #c0c0c0;
  color: #A5A5A5;
  text-decoration: line-through;
}

#buttomAddRow {
  padding: 7px;
  color: #808080;
  border: 3px solid #808080;
  cursor: pointer;
}

.stats table {
  font-size: 12pt;
  width: 100%;
}

.stats table td {
  white-space: nowrap;
  padding: 3px;
  color: #808080;
}

.stats table td.st2 {
  padding-left: 10px;
}

.stats table tr {
  border-bottom: 2px solid #808080;
  border-top: 2px solid #808080;
}

.help {
  font-size: 12pt;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #808080;
}

.help p {
  line-height: 14pt;
  margin-bottom: 5pt;
}

.bt:hover {
  background-color: #F9F9F9;
}
